{% extends  "@EasyAdmin/page/content.html.twig"%}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <h1 class="jumbotron">
                <div class="col-lg-4 col-md-4 col-xs-6">
                    Bienvenue dans l'espace d'administration de Avance    
                </div>
            </h1>
        </div>
    </div>

{% endblock %}